trigger:
  branches:
    include:
    - main
  tags:
    include:
    - '*'

pool:
  vmImage: windows-latest

stages:
- stage: Build
  displayName: 'Build application'
  jobs:
  - job: Build
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '10.x'
        includePreviewVersions: true
        
    - task: DotNetCoreCLI@2
      displayName: 'dotnet restore'
      inputs:
        command: 'restore'
        feedsToUse: 'select'

    - task: DotNetCoreCLI@2
      displayName: 'dotnet build'
      inputs:
        command: 'build'

    - task: DotNetCoreCLI@2
      displayName: 'dotnet publish'
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: '**/*.csproj'
        arguments: '--configuration Release --runtime win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true --output $(Build.ArtifactStagingDirectory)'
    
    - task: PublishBuildArtifacts@1
      displayName: 'publish artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'application'
        publishLocation: 'Container'

- stage: Release
  displayName: 'Create GitHub release'
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  dependsOn: 
  - Build
  jobs:
  - job:
    steps:
    - task: DownloadBuildArtifacts@1
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'application'
        downloadPath: '$(System.ArtifactsDirectory)/zipped'
    
    - task: ExtractFiles@1
      inputs:
        archiveFilePatterns: '$(System.ArtifactsDirectory)/zipped/**/*.zip'
        destinationFolder: '$(System.ArtifactsDirectory)/unzipped'
        cleanDestinationFolder: true
        overwriteExistingFiles: false
    
    - task: file-creator@7
      inputs:
        filepath: '$(System.ArtifactsDirectory)/unzipped/appsettings.json'
        filecontent: '$(appsettings)'
        fileoverwrite: true
        endWithNewLine: true

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.ArtifactsDirectory)/unzipped/**'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(System.ArtifactsDirectory)/rezipped/HellLetLooseSeedingClient.zip'
        replaceExistingArchive: true
    
    - task: GitHubRelease@1
      inputs:
        gitHubConnection: 'NanoBob'
        repositoryName: '$(Build.Repository.Name)'
        action: 'create'
        target: '$(Build.SourceVersion)'
        tagSource: 'gitTag'
        releaseNotesSource: 'inline'
        addChangeLog: false
        assets: '$(System.ArtifactsDirectory)/rezipped/**'

